<div class="gpii-feedback-preferences">
    <!-- Preference Icons -->
    <ul class="gpii-feedback-preferencesStatus">
        <li class="gpiic-text-button">
            <a href="#_" id="gpiic-text-icon" class="gpii-icon gpii-icon-text gpii-icon-available"></a>
        </li>
        <li class="gpiic-caption-button">
            <a href="#_" id="gpiic-caption-icon" class="gpii-icon gpii-icon-caption gpii-icon-available"></a>
        </li>
        <li class="gpiic-transcript-button">
            <a href="#_" id="gpiic-transcript-icon" class="gpii-icon gpii-icon-transcript gpii-icon-partial"></a>
        </li>
        <li class="gpiic-audio-button">
            <a href="#_" id="gpiic-audio-icon" class="gpii-icon gpii-icon-audio gpii-icon-unavailable"></a>
        </li>
    </ul>
</div>

<div class="gpii-feedback-controls">
    <!-- Feedback -->
    <ul class="gpii-feedback-feedbackControls">
        <li class="gpiic-matchConfirmation-button gpii-feedback-button">
            <a href="#_" id="gpiic-matchConfirmation-icon" class="gpii-icon gpii-icon-matchConfirmation"></a>
        </li>
        <li class="gpiic-mismatchDetails-button gpii-feedback-button">
            <a href="#_" id="gpiic-mismatchDetails-icon" class="gpii-icon gpii-icon-mismatchDetails"></a>
        </li>
    </ul>

    <!-- Requests -->
    <ul class="gpii-feedback-requestsControls">
        <li class="gpii-feedback-button">
            <a href="#_" class="gpii-icon gpii-icon-request"></a>
        </li>
    </ul>
</div>
